doctype
html
	head
		title Hello World
		style!=files['test']['style.styl']
	body
		h1 Hello World!
		p does this work?
		p sure it does!
		pre=files['index.js']
		script(type='text/javascript' id="__bs_script__").
			//<![CDATA[
			document.write("<script async src='//HOST:3000/browser-sync/browser-sync-client.1.7.1.js'><\/script>".replace(/HOST/g, location.hostname).replace(/PORT/g, location.port));
			//]]></script>
		script!=files['test']['main.bs.js']
